*{
    background-color: #f8f9fa;
}
.imagem_vinho{
    max-height: 520px;
max-width: 300px;
    width: auto;
    height: auto;
    display: block;
    float:none;
    
}
.imagem_vinho:hover{
    filter: grayscale();
}
header{
    margin-bottom: 20px;
}
.featured-item{
    border: 1px solid #8B006B;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 5px 5px ;
    max-width: 350px;
    margin-bottom: 30px;
}
.imagem_vinho{
    margin-top: 5px;
} 
div a{
    margin-bottom: 15px;
}
h4{
  height: 50px;
}
div img,h4,h5,h6,a{
    margin-left: 15px;
    margin-right: 15px;
}
.box{
    width: 50px;
    height: 10px;
    background-color: #8B006B;
    margin-left: 20px;
}
.logo{
    align-content: center;
}
.footer ul li{
    display: inline-block;
}

#custom_footer{
    border-top: 1px solid #8B006B;
}
